/* Add here all your CSS customizations */

/* Grid User Avatars */
.user-avatar-grid {
  width: 100%;
  position: absolute;
  padding-right: 60px;
  margin-top: -48px;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  img {
    width: 72px;
    height: 72px;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50%;
    image-rendering: -webkit-optimize-contrast;
  }
}